@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

body {
    background-image: url("../img/component/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-family: Ubuntu-Bold, sans-serif;
    letter-spacing: 1.25px;
}

.regis-error {
    width: 550px;
}

.regis-table {
    max-width: 600px;
    margin: 0 auto;
}

tbody {
    display: block;
}

.regis-info {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 7px 0;
}

.regis-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 5px 0 20px;
}

.regis-input:focus {
    background-color: #f2f2f2;
    border-bottom: 1px solid #fe6722;
}

input,
input:focus {
    border: none;
    outline: none;
}

.regis-submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.regis-submit-btn {
    font-family: Ubuntu-Bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #fe6722;
    background: linear-gradient(90deg, rgb(227, 70, 45) 9%, rgb(240, 149, 13) 100%);
}

.regis-submit-btn:hover {
    background: linear-gradient(90deg, rgb(177, 50, 11) 0%, rgb(185, 72, 7) 100%);
    cursor: pointer;
}

.regis-signup a {
    color: #fe6722;
    text-decoration: none;
}

.regis-submit a:hover {
    color: #7b2700;
    text-decoration: underline;
}

::placeholder {
    color: #b7b7b7;
}

.fa-envelope,
.fa-lock,
.fa-user,
.fa-phone {
    color: #fe6722;
}

.regis-login a {
    color: #fe6722;
    text-decoration: none;
}

.regis-login a:hover {
    color: #7b2700;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .regis-table {
        max-width: 360px;
    }
    .regis-input {
        max-width: 280px;
    }
    .regis-name {
        max-width: 138px;
    }
    .interestedcar span {
        margin-right: 17px !important;
    }
}